/*
* Global variables
* Taken from PSDs provided by M8th
*/
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/typography/text/replacement";
@import "compass/css3/appearance";

$dark-blue: rgb(35,59,105);
$medium-blue: rgb(77,113,137);
$bright-blue: rgb(54,96,168);
$light-blue: rgb(196,220,248);
$greenblue: rgb(87,131,156);
$dark-greygreen: rgb(62,62,53);
$medium-grey: rgb(104,112,120);
$off-white: rgb(239,255,255);

$nav-gradient: linear-gradient(color-stops(rgb(2,34,87),rgb(63,97,155)));
$header-gradient: linear-gradient(color-stops(rgb(34,62,113),rgb(18,34,61)));
$subtle-gradient:  linear-gradient(color-stops(rgb(255,255,255),rgb(232,232,232)));
$grey-gradient: linear-gradient(color-stops(rgb(221,221,221),rgb(202,202,202)));
$darker-greygreen-gradient:  linear-gradient(color-stops(rgb(38,38,33),rgb(86,86,73)));
$button-gradient-blue: linear-gradient(color-stops(rgb(97,138,185),rgb(52,74,124)));
$button-gradient-green: linear-gradient(color-stops(rgb(127,174,14),rgb(80,126,8)));
$button-gradient-greyblue: linear-gradient(color-stops(rgb(129,170,191),rgb(75,103,122)));
$button-gradient-greygreen: linear-gradient(color-stops(rgb(107,107,92),rgb(78,77,65)));
$grey-gradient: linear-gradient(color-stops(rgb(163,163,163),rgb(194,194,194)));

/* Foundation Global Overrides */

$primary-color: $medium-blue;
$body-font-color: $dark-blue !default;
$header-font-color: $dark-blue;
$anchor-font-color: $bright-blue;
$anchor-font-color-hover: darken($bright-blue, 5%);

$h3-font-size: emCalc(30);
$h4-font-size: emCalc(28);

body { font-size: emCalc(12px); line-height: 1.25em; }
/** reset grid padding **/
@media only screen {
  .row .columns, .row .column {
    padding-left: 0;
    padding-right: 0;
  }
}

/**
* custom snippet modules and custom class styling
*
**/

.nobold { font-weight: normal !important; }

/** Highlighted wrappers **/
.highlighted-wrapper {
  &.spaced-bottom { margin-bottom: 10px; }
  &.medium-blue {
    background: $medium-blue;
    h3, p { color: white; }
  }
  &.greygreen-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6B6B5C', endColorstr='#4E4D41');/*For IE7-8-9*/
    @include background-image($button-gradient-greygreen);
    h3, p { color: rgb(229,230,213); }
  }
  &.dark-greygreen {
    background: $dark-greygreen;
    h3, p { color: rgb(195,196,182); }
  }
  &.darker-greygreen {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#262621', endColorstr='#565649');/*For IE7-8-9*/
    @include background-image($darker-greygreen-gradient);
    h3, p { color: white; }
  }
  .row {
    padding: 10px;
    h3 {
      font-weight: normal;
      margin: 0;
      padding: 10px 0 5px 0;
    }
    p { }
  }
}

/** Page Heading Titles **/
.page-title {
  background: url('../images/page-title-bg.png') repeat-x center left;
  text-align: center;
  h1 {
    padding: 0 15px;
    background: white;
    display: inline-block;
    text-align: center;
    color: $medium-blue;
    font-size: emCalc(24px);
    font-weight: normal;
  }
}

/** Buttons **/
$include-html-button-classes: false; //this frees up .button for our use
.button {
  @include border-radius(10px, 10px);
  behavior: url('javascripts/vendor/PIE.htc');
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#618AB9', endColorstr='#344A7C');/*For IE7-8-9*/
  @include background-image($button-gradient-blue);
  border: 1px solid $dark-blue;
  @include box-shadow(none);
  @include text-shadow(lighten(black,30%) 1px 1px 4px);
  white-space: nowrap;
  &.greygreen {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6B6B5C', endColorstr='#4E4D41');/*For IE7-8-9*/
    @include background-image($button-gradient-greygreen);
    border: 1px solid $dark-blue;
  }
  &.greyblue {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81AABF', endColorstr='#4B677A');/*For IE7-8-9*/
    @include background-image($button-gradient-greyblue);
    border: 1px solid rgb(49,65,78);
    @include text-shadow($dark-blue 1px 1px 2px);
  }
  &.green {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7FAE0E', endColorstr='#507E08');/*For IE7-8-9*/
    @include background-image($button-gradient-green);
    border: 1px solid rgb(65,102,7);
  }
  &.segmented {
    height: 39px;
    padding-right: 40px;
    overflow: hidden;
    @include text-shadow(none);
    font-weight: normal;
    padding-top: 12px;
    .arrow {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;
      height: 39px;
      background: url('../images/segmented-button-arrow.png') no-repeat 0 0;
      background-size: contain;
    }
  }
}

/** Header & Navigation **/
header {
  .session-nav {
    height: 48px;
    background: url('../images/header-bg.png') no-repeat 0 0;
    background-size: cover;
    .header-logo a {
      display: inline-block;
      @include replace-text('../images/header-logo.png');
      background-size:cover;
      width: 147px;
      height: 40px;
      margin: 4px 10px;
    }
    .button {
      font-weight: normal;
      padding: 8px 10px;
      margin: 5px;
      margin-top: 9px;
    }
    .button-wrapper:last-child .button { margin-left: 15px; }
  }
  .login-message {
    text-align: center;
    border-bottom: 1px solid rgb(155,155,132);
    p {
      display: inline-block;
      padding: 7px 0;
      margin-bottom: 0;
    }
  }
  .main-nav {
    background: -ms-linear-gradient(rgb(2,34,87),rgb(63,97,155));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#022257', endColorstr='#3F619B');/*For IE7-8-9*/
    @include background-image($nav-gradient);
    .columns {
      text-align: center;
      a {
        display: inline-block;
        background: url('../images/main-nav_border-right.png') no-repeat top right;
        padding: 12px 0;
        color: white;
        font-size: emCalc(17px);
        width: 100%;
      }
      &:nth-child(3) a { padding: 5px 0; background: transparent; }
    }
  }
}

footer {
  margin-top: 5px;
  border-top: 1px solid rgb(170,183,204);
  .newsletter-button {
    a.button {
      width: 95%;
      padding: 10px 3px;
      padding-right: 24px;
      @include text-shadow(none);
      font-weight: normal;
      font-size: emCalc(14);
      text-decoration: underline;
      .icon.letter{
        display: inline-block;
        position: absolute;
        width: 24px;
        height: 15px;
        right: 10px;
        top: 9px;
        background: url('../images/email-icon.png') no-repeat 0 0;
        background-size: cover;
      }
    }
  }
  .full-site-link {
    a {
      display: inline-block;
      width: 100%;
      color: rgb(195,196,182);
      padding: 10px;
    }
  }
  .copyright {
    font-size: emCalc(12px);
    line-height: 1.2em;
    padding: 15px;
  }
}

/** near me icon **/
.button.near-me {
  padding-left: 24px !important;
  .icon {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    background: url('../images/radar.png') no-repeat 0 0;
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-top: -2px;
    left: 5px;
  }
}

/** Site Search Form **/
.site-search {
  .columns {
    padding: 10px 5px;
  }
  .search, .quicksearch {
    @include box-shadow(none);
    @include appearance(none);
    @include border-radius(0);
    behavior: url('javascripts/vendor/PIE.htc');
    border: 1px solid gray;
    color: gray;
    padding: 4px;
    margin-bottom: 0;
    height: 26px;
  }
  .quicksearch {
    background: url('../images/select_button.png') no-repeat center right;
    background-size: contain;
  }
}

/** Near Me search form styling **/
.nearme-param {
  .row { padding: 5px; }
  .activity, .distance {
    @include box-shadow(none);
    @include appearance(none);
    @include border-radius(0);
    behavior: url('javascripts/vendor/PIE.htc');
    border: 1px solid gray;
    color: gray;
    padding: 4px;
    margin-bottom: 0;
    height: 26px;
    background: url('../images/select_button.png') no-repeat center right white;
    background-size: contain;
  }
  label {
    color: white;
    font-weight: bold;
    font-size: emCalc(18px);
    line-height: 26px;
    text-align: right;
    padding-right: 8px;
  }
}

/** Map styling **/
.map-wrapper {
  width: 100%;
  border-bottom: 1px solid $dark-blue;
  border-top: 1px solid $dark-blue;
  margin-bottom: 10px;
  height: 250px;
  #map-canvas {
    width: 100%;
    height: 100%;
  }
}

/** Inline Horizontal Button List **/
.button-list {
  padding-top: 10px;
  text-align: center;
}

/** Title Bar **/
.title-bar {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#223E71', endColorstr='#12223D');/*For IE7-8-9*/
  @include background-image($header-gradient);
  padding: 6px 15px;
  h2 {
    display: inline-block;
    font-size: 15px;
    color: $off-white;
  }
  .view-all {
    color: $light-blue;
    margin-left: 12px;
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
}
/** Generic wrapper styles (for copy generally) **/
.wrapper {
  color: $dark-blue;
}

/** vertical button lists **/
ul.vertical-buttons {
  li {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#E8E8E8');/*For IE7-8-9*/
    @include background-image($subtle-gradient);
    border-bottom: 1px solid rgb(22,41,75);
    a {
      display: inline-block;
      width: 100%;
      background: url("../images/chevron-right.png") no-repeat 97% center;
      padding: 17px 44px 17px 19px;
      h3 {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
        color: $dark-blue;
        font-style: italic;
        .location { font-weight: bold; }
        .date { }
        .link { font-style: normal; text-decoration: underline; }
      }
    }
  }
}


/** Near Me search results styling **/
ul.nearme-results {
  ul, ul li ul { margin: 0 !important; }
  li {
    background-image: none !important;
    border-bottom: none !important;
    a {
      border-bottom: 1px solid $dark-blue;
      padding: 0;
      .icon {
        display: inline-block;
        padding: 10px;
        width: 60px;
        vertical-align: middle;
      }
      h3 {
        border-left: 1px solid #BFCAD1;
        display: inline-block;
        font-size: emCalc(18px);
        line-height: 40px;
        margin-top: 0;
        max-width: 65%;
        padding: 10px;
        position: relative;
      }
    }
  }
  li.parent {
    a {
      background: -ms-linear-gradient(rgb(255,255,255),rgb(232,232,232));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#E8E8E8');/*For IE7-8-9*/
      @include background-image(image-url('../images/nearme_icon-chevron.png'), $subtle-gradient );
      background-position: 97% center;
      background-repeat: no-repeat;
    }
    ul {
      display: none;
    }
    &.expanded {
      > a {
        background: -ms-linear-gradient(rgb(221,221,221),rgb(202,202,202));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DDDDDD', endColorstr='#CACACA');/*For IE7-8-9*/
        @include background-image(image-url('../images/nearme_icon-chevron_active.png'), $grey-gradient );
      }
      > ul { display: block; }
    }
  }
  li.parent.main {
    > a {
      background: -ms-linear-gradient(rgb(2,34,87),rgb(63,97,155));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#223E71', endColorstr='#12223D');/*For IE7-8-9*/
      @include background-image(image-url('../images/nearme_icon-chevron_main_active.png'),$header-gradient);
      h3 { color: white; }
    }
    &.expanded {
      > a {
        @include background-image(image-url('../images/nearme_icon-chevron_main_active.png'),$header-gradient);
      }
    }
  }
  a.location {
    background: rgb(229,229,229);
    background-image: none !important;
    .details {
      display: inline-block;
      padding: 5px;
      p {
        padding: 10px;
        margin-bottom: 0;
        color: rgb(38,33,158);
        font-style: normal;
        border-left: 5px solid $greenblue;
        .title {
          display: block;
          font-size: emCalc(20px);
          text-decoration: underline;
        }
        .distance {
          display: block;
          color: $medium-grey;
        }
      }
    }
    .map-it {
      min-height: 70px;
      display: block;
      float: right;
      padding: 10px;
      padding-top: 25px;
      background: rgb(237,237,237);
      .link{
        color: $dark-blue;
        text-decoration: underline;
        float: left;
      }
      .marker {
        margin-left: 5px;
        float: right;
      }
    }
  }
}

/** Contact Details **/
.contact-details {
  color: $dark-blue;
  padding: 20px 15px;
  border-bottom: 1px solid rgb(170,183,204);
}

/** slider **/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.slider-wrapper {

}
.slide {
  width: 125px;
  padding: 3px;
  img {
    width: 100%;
    display: inline-block;
  }
  a {
      display: inline-block;
      position: relative;
      overflow: hidden;
  }
  .copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0,0,0,.7);
    p {
      color: white;
      margin-bottom: 0;
    }
  }
}
.slider-index-indicator {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  text-align: center;
  li {
    display: inline-block;
    width: 44px;
    padding: 1px;
    margin: 0;
    visibility: hidden;
    a {
      display: inline-block;
      width: 100%;
      height: 22px;
      background: -ms-linear-gradient(rgb(163,163,163),rgb(194,194,194));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a3a3a3', endColorstr='#c2c2c2');/*For IE7-8-9*/
      @include background-image( $grey-gradient );
    }
    &.active a {
      background: -ms-linear-gradient(#7FAE0E,#507E08);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7FAE0E', endColorstr='#507E08');/*For IE7-8-9*/
      @include background-image($button-gradient-green);
    }
  }
}

/** article styling **/
article {
  padding: 10px;
  a.crumbs {
    color: $dark-blue;
    text-decoration: underline;
  }
  h2 {
    font-size: emCalc(18px);
    color: $dark-blue;
  }
  h4 {
    font-style: italic;
    font-weight: normal;
    font-size: emCalc(14px);
    color: $dark-blue;
  }
  p { }
  a {
    color: $bright-blue;
    text-decoration: underline;
  }
}
.nearme-snapshot {
  margin-top: 10px;
  .info {
    margin: 10px 0;
    .label {
      background: none;
      color: $dark-blue;
      display: inline-block;
      vertical-align: top;
      max-width: 40%;
      white-space: normal;
      text-align: left;
    }
    .detail {
      display: inline-block;
      max-width: 60%;
    }
  }
  .map-wrapper {
    width: 100px;
    height: 100px;
    border: 1px solid $dark-blue;
    float: right;
  }
}

/** search results styling **/

.result-details {
  h3 { font-weight: normal; color: $dark-blue; }
  p { font-style: normal !important; }
  .result-key { font-weight: bold; }
}