%section
  .title-bar
    %h2 Online Services
    %a.view-all(href="#") view all
  .wrapper
    .row.button-list
      .button-wrapper.small-4.columns
        %a.button Water Bill
      .button-wrapper.small-4.columns
        %a.button Volunteer
      .button-wrapper.small-4.columns
        %a.button Calendar
