%section
  .title-bar
    %h2 Contact Us
    %a.view-all(href="#") view all contacts
  .wrapper
    .contact-details
      .row
        %h3.small-12.columns Gwinnett Justice  & Administration Center
      .row
        .small-7.columns
          %p 75 Langley Drive<br />Lawrenceville, GA 30046
        .small-5.columns
          %p Primary Phone: <a href="tel:770.822.8000">770.822.8000</a>
      .row.button-list
        .button-wrapper.small-4.columns
          %a.button Map It
        .button-wrapper.small-4.columns
          %a.button Directions
        .button-wrapper.small-4.columns
          %a.button Call
