%footer
  .row.button-list
    .button-wrapper.small-12.columns.newsletter-button
      %a.button.green(href="#") Sign up for Gwinnett County e-mail newsletters <span class="icon letter"></span>
  .highlighted-wrapper.greygreen-gradient.text-center.full-site-link
    %a(href="#") ::: <span style="text-decoration: underline;">View Full Site</span> :::
  .highlighted-wrapper.dark-greygreen.text-center.copyright
    %p Official Site of Gwinnett County Government<br />Copyright 2012, Gwinnett County Board of Commissioners
