%section.highlighted-wrapper.medium-blue
  %form.nearme-param
    .row
      .small-3.columns
        %label(for="distance") Distance:
      .small-9.columns
        %select.distance(name="distance")
          %option(value="1") 1 mile
          %option(value="5") 5 miles
          %option(value="10") 10 miles
    .row
      .small-3.columns
        %label(for="activity") Activity:
      .small-9.columns
        %select.activity(name="activity")
          %option(value="parks_recreation") Parks and Recreation
          %option(value="administration") Administration
          %option(value="community_service") Community Service
