%section
  %form.site-search.row
    .small-6.columns
      %input.search(type="text" name="search" value="Search")
    .small-6.columns
      %select.quicksearch
        %option(value="") Find it fast
        %option(value="location1") Location One
        %option(value="location2") Location Two