%section
  .slider-wrapper
    #slider.swipe
      .swipe-wrap
        .slide
          %a(href="#")
            %img(src="/images/slide_sample_1.png")
            .copy
              %p Animal shelter hosts annual Adoption Explosion
        .slide
          %a(href="#")
            %img(src="/images/slide_sample_2.png")
            .copy
              %p Understanding your property
        .slide
          %a(href="#")
            %img(src="/images/slide_sample_3.png")
            .copy
              %p Some other headline
