%section
  .title-bar
    %h2 Today's Events
    %a.view-all(href="#") view all events
  .wrapper
    %ul.vertical-buttons
      %li
        %a
          %h3 Daddy-Daughter Valentine Dance
          %p
            %span.location Suwanee
            %span.time - 7:00pm - 9:00pm
      %li
        %a
          %h3 H.O.O.K.E.D. Teen Club
          %p
            %span.location Duluth
            %span.time - 10:00am - 2:00pm
